.projects {
  scroll-margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  box-sizing: border-box;
  height: calc(100vh - 100px);
  background-color: var(--color-bg);
  color: var(--color-text);

  background-image: url("../../assets/background_sec4.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 992px) {
  .projects {
    gap: 30px;
  }
}

@media (max-width: 768px) {
  .projects {
    gap: 20px;
    padding: 40px 20px;
    height: auto;
  }
}

@media (max-width: 480px) {
  .projects {
    gap: 16px;
  }
}

